.hamburgerButton {
  width: var(--venstre-meny-collapsed-width);
  border-left: none;
}

.production {
  background-color: var(--ax-bg-danger-strong);
}

.environmentPostscript {
  position: absolute;
  top: 6px;
  font-size: 16px;
  color: var(--ax-text-on-action);
}
