
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: var(--ax-bg-default);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav-header-production {
    background-color: rgb(195,33,33);
}

.feilmelding_kolonne {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.header-environment-postscript {
  position: absolute;
  top: 6px;
  font-size: 16px;
  color: var(--a-green-200);
}

#venstre-meny {
  background-color: var(--a-surface-inverted);
  height: 100vh;
  position: sticky;
  top:0;
  overflow: auto;
  transition: width 0.5s ease-in-out;
  width: 22.5em;
}

#venstre-meny .meny-tekst {
  display: block;
}
#venstre-meny.kun-ikoner {
  width: 3em;
  transition: width 0.5s ease-in-out;
}

#venstre-meny.kun-ikoner .meny-tekst {
  display: none;
}

#venstre-meny.kun-ikoner .meny-ikon {
  margin: 0;
}

#venstre-meny.kun-ikoner:hover
{
  width: 20em;
  transition: width 0.5s ease-in-out;
}

#venstre-meny.kun-ikoner:hover .meny-tekst {
  display: inline;
  transition: ease-out;
}

#venstre-meny .mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 20em;
}

#venstre-meny .mainmenu a {
  display: block;
  text-decoration: none;
  padding: 10px;

  color: var(--a-text-on-inverted);
  background-color: var(--a-surface-inverted);
}

#venstre-meny .mainmenu a:hover {
  background-color: #1f4ca6;
}

#venstre-meny .mainmenu li.open .submenu {
  display: block;
  max-height: 1000px;
  border-top: solid 1px rgb(50, 50, 50);
  border-bottom: solid 1px rgb(50, 50, 50);
}

#venstre-meny .submenu a.active {
  background: var(--a-blue-700);
  color: white;
}

#venstre-meny .mainmenu li a.active {
  background: var(--a-blue-700);
  color: white;
}

#venstre-meny .submenu a:hover {
  background-color: #1f4ca6;
}

#venstre-meny .submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}

.etteroppgjor-box {
    border-top: 0;
    border-right: 1px solid var(--ax-border-neutral-subtle);
    border-bottom: 1px solid var(--ax-border-neutral-subtle);
    border-left: 1px solid var(--ax-border-neutral-subtle);
    border-spacing: 0;
    border-collapse: separate;
    &:first-of-type {
        border-radius:var(--ax-border-radius-large) var(--ax-border-radius-large) 0 0;
        border-top: 1px solid var(--ax-border-neutral-subtle);
    }
    &:last-of-type {
        border-radius:0 0 var(--ax-border-radius-large) var(--ax-border-radius-large)
    }
}
