.kv {
  min-width: 12ch;
}

.iconAlign {
  display: inline-block;
  vertical-align: -2px;
}

.pre {
  white-space: pre-wrap; /* bryt linjer i stacktrace */
  word-break: break-word; /* bryt lange ord */
  max-height: 320px; /* ikke la det spise hele siden */
  overflow: auto; /* scroll når det blir langt */
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", monospace;
  font-size: 0.875rem; /* litt kompakt */
  margin: 0; /* fjern default margin på pre */
}

.kvFixed {
  display: inline-block;
  min-width: 14ch; /* reserver plass til ~14 tegn */
}

.topBanner {
  align-self: stretch;
  background-color: var(--ax-bg-sunken);
  border-bottom: 1px solid var(--ax-border-neutral-subtle);
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: center;
  overflow: hidden;
  width: 100%;
}
.topBannerContent {
  margin: 0 auto 0;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  overflow: hidden;
  position: relative;
}
.topBannerText {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: var(--ax-space-24) var(--ax-space-16) var(--ax-space-24);
  z-index: 1;
}
.topBannerImgContainer {
  align-self: flex-end;
  margin: 0 var(--ax-space-16);
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 40%;
  position: relative;
}
.topBannerImgContainer .illustration {
  width: 430px;
}
