name: Build and deploy

on: [push]

jobs:
  build:
    permissions:
      packages: write
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    outputs:
      image: "${{ steps.set-outputs.outputs.IMAGE }}"
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: '20'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'
      - run: npm ci
      - run: npm run build

      - name: NAIS login
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: nais/login@v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: teampensjon

      - name: Docker meta
        if: ${{ github.actor != 'dependabot[bot]' }}
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: |
            ${{ steps.login.outputs.registry }}/${{ github.repository }}/${{ github.repository_owner}}
          tags: |
            type=sha,prefix=${{ steps.version.outputs.time }}-,priority=9002

      - name: Build and push
        if: ${{ github.actor != 'dependabot[bot]' }}
        id: build_push
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Set outputs
        if: ${{ github.actor != 'dependabot[bot]' }}
        shell: bash
        id: set-outputs
        run: |
          echo "IMAGE=${{ fromJSON(steps.meta.outputs.json).tags[0] }}" >> $GITHUB_OUTPUT

  deploy:
    permissions:
      contents: "read"
      id-token: "write"  
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        include:
          - name: pensjon-verdande
            cluster: prod-gcp
            vars: .nais/vars-prod.yaml

          - name: pensjon-verdande-q0
            cluster: dev-gcp
            vars: .nais/vars-dev-q0.yaml

          - name: pensjon-verdande-q1
            cluster: dev-gcp
            vars: .nais/vars-dev-q1.yaml

          - name: pensjon-verdande-q2
            cluster: dev-gcp
            vars: .nais/vars-dev-q2.yaml

          - name: pensjon-verdande-q5
            cluster: dev-gcp
            vars: .nais/vars-dev-q5.yaml

    steps:
      - uses: actions/checkout@v4
      - uses: nais/deploy/actions/deploy@v2
        name: 'Deploy to NAIS'
        env:
          IMAGE: "${{ needs.build.outputs.image }}"
          RESOURCE: .nais/nais.yaml
          CLUSTER: 'dev-fss'
          VAR: "version=${{ needs.build.outputs.version }}"
          VARS: '.nais/vars-dev-${{matrix.env}}.yaml'
