name: Build and deploy

on: [push]

jobs:
  build:
    permissions:
      packages: write
      contents: read
      id-token: write
    runs-on: ubuntu-latest
    outputs:
      image: "${{ steps.set-outputs.outputs.IMAGE }}"
      image-digest: "${{ steps.login.outputs.registry }}/${{ github.repository }}/${{ github.repository_owner}}@${{ steps.build_push.outputs.digest }}"
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version-file: 'package.json'
          cache: 'npm'
          cache-dependency-path: 'package-lock.json'
      - run: |
          npm ci && npm run typecheck && npm run build && npm prune --omit=dev

      - name: Set version
        id: version
        shell: bash
        run: |
          TIME=$(TZ="Europe/Oslo" date +%Y.%m.%d-%H.%M)
          COMMIT=$(git rev-parse --short=12 HEAD)
          echo "TIME=$TIME" >> $GITHUB_OUTPUT
          echo "VERSION=$TIME-$COMMIT" >> $GITHUB_OUTPUT

      - name: NAIS login
        if: ${{ github.actor != 'dependabot[bot]' }}
        uses: nais/login@e7cf2c159677dc7c7d599feff5f808f2bf59c7cf # v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: teampensjon

      - name: Docker meta
        if: ${{ github.actor != 'dependabot[bot]' }}
        id: meta
        uses: docker/metadata-action@c299e40c65443455700f0fdfc63efafe5b349051 # v5
        with:
          images: |
            ${{ steps.login.outputs.registry }}/${{ github.repository }}/${{ github.repository_owner}}
          tags: |
            type=sha,prefix=${{ steps.version.outputs.time }}-,priority=9002

      - name: Build and push
        if: ${{ github.actor != 'dependabot[bot]' }}
        id: build_push
        uses: docker/build-push-action@10e90e3645eae34f1e60eeb005ba3a3d33f178e8 # v6
        with:
          context: .
          push: true
          tags: ${{ steps.meta.outputs.tags }}

      - name: Set outputs
        if: ${{ github.actor != 'dependabot[bot]' }}
        shell: bash
        id: set-outputs
        run: |
          echo "IMAGE=${{ fromJSON(steps.meta.outputs.json).tags[0] }}" >> $GITHUB_OUTPUT

  deploy:
    permissions:
      contents: "read"
      id-token: "write"  
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: 'ubuntu-latest'

    strategy:
      matrix:
        include:
          - name: pensjon-verdande
            cluster: prod-gcp
            vars: .nais/vars-prod.yaml

          - name: pensjon-verdande-q0
            cluster: dev-gcp
            vars: .nais/vars-dev-q0.yaml

          - name: pensjon-verdande-q1
            cluster: dev-gcp
            vars: .nais/vars-dev-q1.yaml

          - name: pensjon-verdande-q2
            cluster: dev-gcp
            vars: .nais/vars-dev-q2.yaml

          - name: pensjon-verdande-q5
            cluster: dev-gcp
            vars: .nais/vars-dev-q5.yaml

    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - uses: nais/deploy/actions/deploy@fa754451577294aae42872a69b888b3470478ec1 # v2
        name: 'Deploy to NAIS'
        env:
          IMAGE: "${{ needs.build.outputs.image }}"
          RESOURCE: .nais/nais.yaml
          CLUSTER: '${{ matrix.cluster }}'
          VARS: ${{matrix.vars}}

  attest-sign:
    permissions:
      contents: read
      id-token: write
    if: github.ref == 'refs/heads/main'
    needs: [build]
    runs-on: 'ubuntu-latest'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: NAIS login
        uses: nais/login@e7cf2c159677dc7c7d599feff5f808f2bf59c7cf # v0
        id: login
        with:
          project_id: ${{ vars.NAIS_MANAGEMENT_PROJECT_ID }}
          identity_provider: ${{ secrets.NAIS_WORKLOAD_IDENTITY_PROVIDER }}
          team: teampensjon

      - name: 'Generate SBOM'
        uses: aquasecurity/trivy-action@c1824fd6edce30d7ab345a9989de00bbd46ef284 # 0.34.0
        with:
          scan-type: 'image'
          format: 'cyclonedx'
          output: 'trivy-results.cyclonedx'
          image-ref: "${{ needs.build.outputs.image-digest }}"

      - name: Attest and sign image
        id: attest-sign
        uses: nais/attest-sign@4026aea21c05a2c711a00bced0d9bb5fc944fcf6 # v1
        with:
          image_ref: "${{ needs.build.outputs.image-digest }}"
          sbom: "trivy-results.cyclonedx"
